{{#if page.dash}}
        {{!-- hide back to top button --}}
    {{else}}
        <button onclick="btt()" id="btt">
            <i class="fa-solid fa-chevron-up"></i>
        </button>
{{/if}}
	
	