        <footer>
            <div class="f-l">
                <div>
                    <h3>Quick Links</h3>
                    <a target="_blank" href="/terms-and-conditions">Terms and conditions</a>
                    <a target="_blank" href="/privacy-policy">Privacy policy</a>
                </div>
            </div>
            <div class="f-r">
                <div>
                    <h3>Connect with us</h3>
                    <a rel="nofollow" target="_blank" href="{{site.facebook}}"><i class="fa-brands fa-facebook"></i> Facebook</a>
                    <a rel="nofollow" target="_blank" href="{{site.email}}"><i class="fa-solid fa-envelope"></i> Email</a>
                </div>
            </div>
            <div class="f-b">
                {{site.brand}} &copy; {{date.year}} <br>
                All rights reserved.
            </div>
        </footer>