        <div id="preloader">
            <img src="/img/loader.svg" alt="loading">
            <noscript>Please enable JavaScript to close the loading screen and use this page.</noscript>
        </div>