{{>header}}

        <div class="form-cont">
            <div class="form">
                <h1 class="form-header">Create A Link</h1>
                <p class="form-ins">Link (Profile) stays active forever for you to receive anonymous messages and read them until you shut it down. You also get real-time email notifications for new anonymous messages (coming soon, for email subscribers only). Maximum of 1k messages per link.</p>
                <div class="creates">
                    <div class="create">
                        <h2>STEPS</h2>
                        <ol>
                            <li>Click the button "Create Link Now" below.</li>
                            <li>Type in the name you want on your profile, also type in a strong password you will use to log in and read anonymous messages you receive. Submit your password.</li>
                            <li>Share your link to an audience from the pop-up by copying it or clicking the social media icons to receive anonymous messages from them.</li>
                            <li>Click on "Manage Your Messages" to get your login details and note them down. These login details allow you to read your anonymous messages on the "Manage Messages" page.</li>
                            <li>Please note that you can only change your password when you are logged in, for security purposes. Also, you agree to our Terms and Conditions and Privacy Policy by submitting your details.</li>
                        </ol>
                        <button onclick="createTemporary()" class="solid-btn">Create Link Now</button>
                    </div>
                </div>
                <br>
                <p class="form-ins">Please note that you can only change your password when you are logged in, for security purposes. Also, you agree to our <a class="greenx" target="_blank" href="/terms-and-conditions">Terms and Conditions</a> and <a class="greenx" target="_blank" href="/privacy-policy">Privacy Policy</a> by submitting your details to use the services {{site.brand}} provides.</p>
            </div>
        </div>

{{>footer}}