{{>header}}

        <div class="form-cont">
            <div class="form">
                <h1 class="form-header">Accesss Anonymous Messages</h1>
                <p class="form-ins text-centerx">Please login to read and manage anonymous messages sent to you.</p>
                <div class="inp">
                    <label for="logid">User ID</label>
                    <input class="inpt"  id="logid" type="text">
                </div>
                <div class="inp">
                    <label for="logpw">Password</label>
                    <input class="inpt" id="logpw" type="password">
                </div>
                <div class="inp text-right">
                    <label for="logid">Remember device for 1hr?</label>
                    <input id="logrm" type="checkbox">
                </div>
                <div class="text-right pd20">
                    <button onclick="login()" class="solid-btn">Login</button>
                </div>
            </div>
        </div>

        {{>footer}}